*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.home-layout{
  
}

.outlet-container{
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-transform: uppercase;
  margin-top: 20px;
}


/******* navbar ********/
.nav-link{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(61, 61, 61);
  padding-top: 15px;
  padding-bottom:15px;
}

.link{
  text-decoration: none;
  color: white;
}

.btn-container{
  display: flex;
 column-gap: 10px;
 margin-top: 30px;
}

.btn{
  border: none;
  font-size: 16px;
  transition: 0.25s;
  padding:2px 8px;
  border-radius: 0.2rem;
  text-transform: uppercase;
  background-color: lightblue;
}

.active-btn{
  background-color: black;
  color: white;
}

.content-container{
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 0.3px;  
}

.image{
  margin-top: 30px;
  width: 600px;
}

.video {
  margin-top: 40px;
  margin-left: 40px;
}